@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Admin Güncelleme Sayfası</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Authorization/Index">Admin Listesi</a></li>
                            <li class="breadcrumb-item active">Admin Güncelleme Sayfası</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Admin Güncelleme Formu</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">
                            @Html.HiddenFor(x => x.AdminID)
                            <div class="form-group">
                                <label for="">Admin Adı</label>
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.UserName)
                            </div>
                            <div class="form-group">
                                <label for="">Admin Şifre</label>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div class="form-group">
                                <label for="">Admin Rolü</label>
                                @Html.TextBoxFor(x => x.Role, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Role)
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-primary col-md-12">Admini Güncelle!</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

